<div class="container" style="padding-bottom: 50px;">
  <h2>โปรแกรมบริหารจัดการคลังยาและเวชภัณฑ์ MMIS</h2>
  <div class="card">
    <div class="card-header">
      <clr-icon shape="note"></clr-icon>
      คำชี้แจง
    </div>
    <div class="card-block">
      <div class="card-text">
        <h4>
          โปรแกรมดังต่อไปนี้ เป็นโปรแกรม MMIS version ทดลองใช้ โดยเปิดให้ใช้งานสำหรับผู้ที่สนใจทั่วประเทศ โดยเข้าใช้งานด้วย Username
          เดียวกันโดยแบ่งเป็นคลังใหญ่ และหน่วยเบิก ดังนี้
        </h4>
        <div class="col-md-2">
          <h5>คลังใหญ่</h5>
          <p>
            Username : admin
          </p>
          <p>
            Password : admin
          </p>
        </div>
        <div class="col-md-2">
          <h5>หน่วยเบิก</h5>
          <p>
            Username : staff
          </p>
          <p>
            Password : staff
          </p>
        </div>

        <p>
          หากสนใจใช้งานหรือมีข้อสงสัยเกี่ยวกับโปรแกรม MMIS สามารถติดต่อได้ที่ กลุ่มพัฒนามาตรฐานและบริการคอมพิวเตอร์ ศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร
          สำนักงานปลัดกระทรวงสาธารณสุข กระทรวงสาธารณสุข
        </p>
        <p>
          โทร 02-590-2185 ต่อ 416-419, 421-423
        </p>
        <br>
        <button class="btn btn-success" (click)="gotoDemo()">ทดสอบโปรแกรม</button>
      </div>
    </div>
  </div>
</div>