<div class="container" style="padding-bottom: 50px;">
  <h2>โปรแกรมบริหารจัดการคลังยาและเวชภัณฑ์ MMIS</h2>
  <div class="card">
    <div class="card-header">
      <clr-icon shape="book"></clr-icon>
      คู่มือ
    </div>
    <div class="card-block">
      <ul class="list">
        <li>คู่มือคลังใหญ่
          <button style="float: right;" (click)="downloadManualAdmin()" class="btn btn-sm btn-link">
            <clr-icon shape="printer"></clr-icon> พิมพ์
          </button>
        </li>
        <li>คู่มือหน่วยเบิก
          <button style="float: right;" (click)="downloadManualStaff()" class="btn btn-sm btn-link">
            <clr-icon shape="printer"></clr-icon> พิมพ์
          </button>
        </li>
        <li>คู่มือการใช้งานแยกตามโมดูล
          <button style="float: right;" (click)="downloadManualModule()" class="btn btn-sm btn-link">
            <clr-icon shape="printer"></clr-icon> พิมพ์
          </button>
        </li>
        <li>คู่มือการลงโปรแกรม MMIS (Docker)
          <button style="float: right;" (click)="downloadDockerInstall()" class="btn btn-sm btn-link">
            <clr-icon shape="printer"></clr-icon> พิมพ์
          </button>
        </li>
        <li>คู่มือการลงโปรแกรม MMIS + Mysql(Docker-Compose)
          <button style="float: right;" (click)="downloadDockerComposeInstall()" class="btn btn-sm btn-link">
            <clr-icon shape="printer"></clr-icon> พิมพ์
          </button>
        </li>
        <li>คู่มือการลงโปรแกรมหลังติดตั้ง Server CentOs7
          <button style="float: right;" (click)="downloadLastInstallCentOS()" class="btn btn-sm btn-link">
            <clr-icon shape="printer"></clr-icon> พิมพ์
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <clr-icon shape="data-cluster"></clr-icon>
      Database for MMIS
    </div>
    <div class="card-block">
      <ul class="list">
        <li>ฐานข้อมูลเปล่า สำหรับ Migrate และเริ่มระบบใหม่แบบไม่มีข้อมูล
          <button style="float: right;" (click)="downloadSQLBlank()" class="btn btn-sm btn-link">
            <clr-icon shape="download"></clr-icon> ดาวน์โหลด
          </button>
        </li>
        <!-- <li>คู่มือหน่วยเบิก
          <button style="float: right;" (click)="downloadManualStaff()" class="btn btn-sm btn-link">
            <clr-icon shape="printer"></clr-icon> พิมพ์
          </button>
        </li>
        <li>คู่มือการใช้งานแยกตามโมดูล
          <button style="float: right;" (click)="downloadManualModule()" class="btn btn-sm btn-link">
            <clr-icon shape="printer"></clr-icon> พิมพ์
          </button>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <clr-icon shape="note"></clr-icon>
      Template
    </div>
    <div class="card-block">
      <ul class="list">
        <li>Template นำเข้าข้อมูล.xlsx (ตัวอย่าง)
          <button style="float: right;" (click)="downloadTemplate()" class="btn btn-sm btn-link">
            <clr-icon shape="download"></clr-icon> ดาวน์โหลด
          </button>
        </li>
        <li>Template นำเข้าข้อมูล.xlsx
          <button style="float: right;" (click)="downloadTemplateBlank()" class="btn btn-sm btn-link">
            <clr-icon shape="download"></clr-icon> ดาวน์โหลด
          </button>
        </li>
        <li>Template ไฟล์ Excel สำหรับใช้ตัดจ่าย คลังใหญ่
          <button style="float: right;" (click)="downloadIssueAdmin()" class="btn btn-sm btn-link">
            <clr-icon shape="download"></clr-icon> ดาวน์โหลด
          </button>
        </li>
        <li>Template ไฟล์ Excel สำหรับใช้ตัดจ่ายจาก HIS
          <button style="float: right;" (click)="downloadIssueHis()" class="btn btn-sm btn-link">
            <clr-icon shape="download"></clr-icon> ดาวน์โหลด
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <clr-icon shape="sync"></clr-icon>
      โปรแกรมแปลงข้อมูลเข้าระบบ MMIS จาก INVS INVC INVDOS EXCEL
    </div>
    <div class="card-block">
      <ul class="list">
        <li>โปรแกรม Migrate MMIS for Windows
          <button style="float: right;" (click)="downloadMigrateWin()" class="btn btn-sm btn-link">
            <clr-icon shape="download"></clr-icon> ดาวน์โหลด
          </button>
        </li>
        <li>โปรแกรม Migrate MMIS for Mac
          <button style="float: right;" (click)="downloadMigrateMac()" class="btn btn-sm btn-link">
            <clr-icon shape="download"></clr-icon> ดาวน์โหลด
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <clr-icon shape="hard-disk"></clr-icon>
      โปรแกรมที่เกี่ยวข้อง
    </div>
    <div class="card-block">
      <ul class="list">
        <li>โปรแกรม Navicat (โปรแกรมจัดการฐานข้อมูล)
          <button style="float: right;" (click)="downloadNavicat()" class="btn btn-sm btn-link">
            <clr-icon shape="download"></clr-icon> ดาวน์โหลด
          </button>
        </li>
        <li>โปรแกรม Team Viewer Version 13 (ใช้สำหรับขอรับการสนับสนุนระยะไกล)
          <button style="float: right;" (click)="downloadTeamViewer()" class="btn btn-sm btn-link">
            <clr-icon shape="download"></clr-icon> ดาวน์โหลด
          </button>
        </li>
        <li>ระบบปฏิบัติการ CentOS 7 (Server)
          <button style="float: right;" (click)="downloadCentOS7()" class="btn btn-sm btn-link">
            <clr-icon shape="download"></clr-icon> ดาวน์โหลด
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <clr-icon shape="computer"></clr-icon>
      ความต้องการของระบบ
    </div>
    <div class="card-block">
      <ul class="list">
        <li>
          Windows 7, Windows 8, Windows 10, OSX 10.9 ขึ้นไป
        </li>
        <li>
          Google Chrome เวอร์ชั่น 50 ขึ้นไป
        </li>
      </ul>
    </div>
  </div>
</div>