<header class="header-6">
    <div class="branding">
        <img src="./assets/images/logo-mmis.png" style="width: 100px; height: 75px; padding-right: 5px;margin-top: -5px;" alt="mmis logo">
        <span style="margin-top: 20px">Material Management Information System</span>
    </div>
    <div class="header-nav">
        <a routerLink='/home' routerLinkActive='active' class="active nav-link nav-text">หน้าหลัก</a>
        <a routerLink='/document' routerLinkActive='active' class="nav-link nav-text">เอกสาร</a>
        <a routerLink='/demo' routerLinkActive='active' class="nav-link nav-text">ทดสอบ</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>
<router-outlet></router-outlet>